{% extends "recsys/base.html" %}
{% block title %}BCG|Change Display Name{% endblock %}
{% block content %}
<br>
<h1>Change your Display Name</h1>
<br>
<p>Choose a name to identify yourself on the website. It doesn't need to be unique or include a last name. However, your display name may be visible to other members of your book clubs at certain points, so try to choose a name that will help them recognize you.</p>
<p>Your current username is <span class="datum">{{ user.first_name }}</span>.</p>
{% if error_text %}
<li>{{ error_text }}</li>
{% endif %}
<form action="{% url 'displayname_change' %}" method="POST">
   {% csrf_token %}
   <div class="fieldWrapper">
   <input type="text" 
   name="new_displayname"
   value="{{request.POST.new_displayname}}"
   autofocus >
</div>
<input type="submit" value="Submit">
</form>
{% endblock %}
