{% extends 'recsys/base.html' %}
{% block title %}BCG|Password Reset{% endblock %}

{% block content %}
<h1>Forgot your password?</h1>
<p><s>Enter your email address below, and you will receive email instructions for setting a new one.</s></p>
<p>Actually, the feature to email out password recovery links isn't ready yet. If you need to reset your password, complete this form and then contact me to let me know you need the password recovery link</p>

<form method="POST">
	{% csrf_token %}
	<div class="fieldWrapper">
		<p>{{ form }}</p>
	</div>
	<input type="submit" value="Send the email">
</form>
{% endblock %}
