{% extends "polls/base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

<h1>{{ title }} ({{ year }})</h1>
<h4>by {{ authors }}</h4>
<table>
    <tr>
        <th>
            <img class="cover_image" src="{{ cover_image }}" alt="book cover">
        </th>
        <th class="short_book_data">
            <p>{{ book_type|title }}, {{ pages }} pages<br>
            {% if series_str_1 %}
                {{ series_str_1 }}<br>
                {% if series_str_2 %}
                    {{ series_str_2 }}<br>
                {% endif %}
            {% endif %}
            Editions published: {{ editions }}<br>
            {% if alt_titles %}
                Alternate Titles: {{ alt_titles }}<br>
            {% endif %}
            {% if isfdb_rating %}
                Rating on ISFDB: {{ isfdb_rating }}<br>
            {% endif %}
            Won Awards: {{ award_winner }}<br>
            Juvenile / YA: {{ juvenile }}<br>
            External Links: 
                {% if wikipedia %}
                <a href="{{ wikipedia }}">Wikipedia</a>
                &nbsp;&nbsp;&nbsp;&nbsp;
                {% endif %}
                <a href="http://www.isfdb.org/cgi-bin/title.cgi?{{ title_id }}">ISFDB</a><br>
            ISBN: {{ isbn }}</p>
        </th>
    <tr>
</table>
{% if ambi_isbn %}
    <h4>WARNING: This entry was created by merging two or more records for books that are mostly the same, but may have some differences in contents. This can happen a novel is re-published with additional material or short fiction, or an anthology is republished with a different set of stories, but the same ISBN is reused. If you give this book a rating, keep in mind that you may have read a different book than other people who have given this book a rating, and this could confuse the rating systems if the contents are actually very different. Look at the "Alternate Titles" field and "More Images" to help decide if the contents are generally the same. The "Contents" section should show all novels and novellas (but not short stories) included in all the merged records. </h4>
{% endif %}


{% if original_lang != 'English' or note or not stand_alone%}
    <h4>Notes:</h4>
    {% if original_lang != 'English' %}
        <h4>This is book is a translation from {{ original_lang }} of the original book {{ original_title }} ({{ original_year }}).</h4>
    {% endif %}
    {% if not stand_alone %}
        <h4>This title isn't available as a stand-alone book. See the "Contained in" section to see which volumes it was published in.</h4>
    {% endif %}
    {% if note %}
        <h4>{{ note|safe }}</h4>
    {% endif %}
{% endif %}

{% if synopsis %}
    <h4>Synopsis:</h4>
    <h4>{{ synopsis|safe }}</h4>

{% endif %}

{% endblock %}