{% extends "polls/base.html" %}

{% block title %}Home Page{% endblock %}

{% block content %}

{% if user.is_authenticated %}
  <p>Hi {{ user.username }}!
    <br>Please <a href="{% url 'password_change' %}">change your password</a> and <a href="{% url 'username_change' %}">change your user name</a> if you haven't done so already</p>
  <p><a href="{% url 'logout' %}">Log Out</a></p>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">Log In</a>
{% endif %}


{% if tolkien_book_list %}
    <ul>
    {% for book in tolkien_book_list %}
        <li><a href="{% url 'polls:book' book.id %}">
            {{ book.title }}
        </a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No books are available.</p>
{% endif %}

{% endblock %}
