{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'recsys/style.css' %}" />
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" 
    type="image/png" 
    href="{% static 'recsys/images/favicon.ico' %}"
    />
</head>

<body>
    <header>
        <nav class="navbar">
            <div class="logo">
                <a href="/" alt="Home Page">BookClub.Guide</a>
            </div>
            <ul class="nav-links">
                <input type="checkbox" id="checkbox_toggle" />
                <label for="checkbox_toggle" class="hamburger">&#9776;</label>
                <div class="menu">
                    <li><a href="{% url 'recsys:ratings' %}">My Ratings</a></li>
                    <li><a href="{% url 'recsys:recommendations' %}"
                        >Recommendations</a>
                    </li>
                    <li><a href="{% url 'account' %}">Account</a></li>
<!--                     <li><a href="{% url 'account' %}">Blog</a></li>
                    <li><a href="{% url 'account' %}">About</a></li> -->
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'logout' %}">Log Out</a></li>
                    {% else %}
                    <li><a href="{% url 'login' %}">Log&nbsp;In&nbsp;/ Sign&nbsp;Up</a></li>
                    {% endif %}
                </div>
            </ul>
        </nav>
        <form action="{% url 'recsys:search_results' %}" 
        method="get"    
        class="search_bar">
        <input
        type="text" 
        name="search"
        placeholder="Search by title, author, series, or ISBN"
        value="{{request.GET.search}}"
        {% if not in_account_tab %}autofocus{% endif %} 
        />
        <input type="submit" value="Search">
    </form>        
</header>
<div class=page_body>
    {% block content %}
    {% endblock %}    
<footer>
    <br><br><br>The bibliographic data on this website is sourced from <a href="http://www.isfdb.org" target="_blank">isfdb.org</a>. It is being used under the terms of a <a href="https://creativecommons.org/licenses/by/2.0/" target="_blank">Creative Commons Attribution</a> license. The source data is currently available <a href="http://www.isfdb.org/wiki/index.php/ISFDB_Downloads" target="_blank">here.</a>
</footer>
</div>
</body>

</html>