{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, interactive-widget=resizes-visual" />
    <link rel="stylesheet" href="{% static 'recsys/style.css' %}" />
    {% if user.is_authenticated %}
    <script src="{% static 'recsys/scripts/htmx/1.9.5/htmx.min.js' %}"></script>
    {% endif %}
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon"
        type="image/png"
        href="{% static 'recsys/images/favicon-32.png' %}"
        sizes="32x32">
    <link rel="icon"
        type="image/png"
        href="{% static 'recsys/images/favicon-128.png' %}"
        sizes="128x128">
    <link rel="icon"
        type="image/png"
        href="{% static 'recsys/images/favicon-180.png' %}"
        sizes="180x180">
    <link rel="icon"
        type="image/png"
        href="{% static 'recsys/images/favicon-192.png' %}"
        sizes="192x192">
</head>

<body>
    <header>
        <nav class="navbar">
            <div class="logo">
                <a href="/" alt="Home Page">BookClub.Guide</a>
            </div>
            <ul class="nav-links">
                <input type="checkbox" id="checkbox_toggle" />
                <label for="checkbox_toggle" class="hamburger">&#9776;</label>
                <div class="menu">
                    <li><a href="{% url 'recsys:ratings' %}">My Ratings</a></li>
                    <li><a href="{% url 'recsys:recommendations' %}"
                        >Recommendations</a>
                    </li>
                    <li><a href="{% url 'account' %}">Account</a></li>
                    <li><a href="{% url 'recsys:blog' %}">Blog</a></li>
                    <li><a href="{% url 'recsys:about' %}">About</a></li>
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'logout' %}">Log Out</a></li>
                    {% else %}
                    <li>
                        <a href="{% url 'login' %}">
                            Log&nbsp;In&nbsp;/ Sign&nbsp;Up
                        </a>
                    </li>
                    {% endif %}
                </div>
            </ul>
        </nav>
        {% if in_ratings_tab %}
            <nav class="navbar_two">
                <ul class="nav-links">
                    <div class="menu_two">
                        <li>
                            <a href="{% url 'recsys:ratings' %}">
                                Ratings ({{rating_count}})
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'recsys:saved' %}">
                                Saved ({{saved_count}})
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'recsys:blocked' %}">
                                Blocked ({{blocked_count}})
                            </a>
                        </li>
                    </div>
                </ul>
            </nav>
        {% endif %}
        <form action="{% url 'recsys:search_results' %}" 
        method="get"    
        class="search_bar">
        <input
        type="text" 
        name="search"
        placeholder="Search by title, author, series, or ISBN"
        value="{{request.GET.search}}"
        />
        <input type="submit" value="Search">
    </form>        
</header>
<div class=page_body>
    {% block content %}
    {% endblock %}    
<footer>
    The bibliographic data on this website is sourced from <a href="http://www.isfdb.org" target="_blank">isfdb.org</a>. It is being used under the terms of a <a href="https://creativecommons.org/licenses/by/2.0/" target="_blank">Creative Commons Attribution</a> license. The source data is currently available <a href="http://www.isfdb.org/wiki/index.php/ISFDB_Downloads" target="_blank">here.</a>
</footer>
</div>
</body>

</html>