{% extends "recsys/base.html" %}
{% load isfdb_image_handling %}

{% block title %}My Blocked Books{% endblock %}

{% block content %}

<h1>My Blocked Books</h1>
    <p>Blocked books won't appear in your recommendations. They will still appear in searches and other lists. You may want to block a book you know you aren't interested in, but don't want to give a rating to. This has no effect on your recommendations. You can also save or rate a book you've blocked. You can un-block a book by unchecking the "Blocked" check box and clicking "Submit".</p>
    <br>
    {% if error_text %}
        <li class='error'>Couldn't update rating: {{error_text}}</li>
    {% endif %}
	{% if not object_list %}
	<p>You haven't blocked any books yet.</p>
	{% else %}
    {% for book in object_list %}
        {% book_row_item book %}
    {% endfor %}
    {% endif %}

{% if page_obj.paginator.num_pages > 1 %}
<br>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endif %}

{% endblock %}