{% extends "recsys/base.html" %}
{% load isfdb_image_handling %}

{% block title %}BCG Blog|Technical Overview{% endblock %}

{% block content %}

<h1>Blog</h1>

<h2><a href="/blog/technical_overview/">Technical Overview</a></h2>

<p>BookClub.Guide runs on a small-form-factor web server in my home. With so many free and low-cost web hosting options available these days, this probably wasn't the most practical decision. But it was a chance to learn end-to-end server administration without having any steps done automatically by a cloud provider. I built the site using the Django web framework and PostgreSQL...<a href="/blog/technical_overview/">(read more></a><p>

{% endblock %}
