{% load isfdb_image_handling %}

<div class="book_row_item">
    <div><h4>
        <a href="{% url 'recsys:book' book.title_id %}">{{ book.title }}</a>
        ({{ book.year|default:"date unknown" }})
    </h4></div>
    <div class="img_data_and_rating">
        <div class="rating_boxes">rating</div>
        <div class="img_and_data">
            <a class="thumbnail" 
                href="{% url 'recsys:book' book.title_id %}"
                style="background-image: url({{ book.cover_image|localize_isfdb_image_url }});"
                alt="book cover and link for {{ book.title }}">
<!--                 <a href="{% url 'recsys:book' book.title_id %}">
                    <img src="{{ book.cover_image|localize_isfdb_image_url }}" 
                        alt="book cover for {{ book.title }}"/>
                </a> -->
            </a>
            <div class="row_metadata">
                <p>by {{book.authors}}</p>
                <p>
                    {{ book.book_type|title }}{% if book.pages %}, {{ book.pages }} p.{% endif %}
                </p>
                <p>{{ book.series_str_1|default:"" }}</p>
                <div class="icons_and_links">
                    <div>won award</div>
                    <div>JVN/YA</div>
                    <div>Wikipedia&#128279;</div>
<!--                     <div>ISFDB&#128279;</div>
                    <div>ISFDB&#128279;</div>
                    <div>ISFDB&#128279;</div>
 -->                </div>
<!--                 <p>
                    {% if book.award_winner %}
                        <mark class='award_mark'
                            title="This book won an award">
                            won award
                        </mark>
                    {% endif %}
                    {% if book.juvenile %}
                        <mark class='jvnya_mark' 
                            title="juvenile or young adult literature">
                            JVN / YA
                        </mark>
                    {% endif %}
                    {% if book.wikipedia %}
                        <a href="{{ book.wikipedia }}" target="_blank">
                            Wikipedia&#128279;
                        </a> 
                    {% endif %}
                    <a href="http://www.isfdb.org/cgi-bin/title.cgi?{{ book.title_id }}" 
                        target="_blank">
                        ISFDB&#128279;
                    </a>
                </p> -->
            </div>
        </div>
    </div>
</div>