{% extends "recsys/base.html" %}
{% load isfdb_image_handling %}

{% block title %}BCG|Start Rating Books{% endblock %}

{% block content %}

<style>
  .rating_checkbox {
    visibility: hidden;
  }
</style>

<h1>Let's start rating books</h1>
<p>In order to give you personalized recommendations, we will need get some initial ratings from you for books that other users have also evaluated. If you have read any of the books below, give them a whole number or decimal rating between 1 (very bad) and 10 (very good). Be sure to click the corresponding "Submit" button after each rating, or your rating may be lost. You may also use the search bar to find and rate other books you have read. Just click the "Recommendations" button at the top of the page to return here when you are done.</p>
<br>
<form action="{{ request.get_full_path }}" method="POST">
    {% csrf_token %}
    <input type="hidden" name="done" value="done"/>
    <dev class="cs_instructions">
        {% if rating_count >= 10 %}
            <p>You've rated <span class="datum rating_count">{{rating_count}}</span> books. Click this button to generate some recommendations</p>
            <input class="submit_button_form" type="submit" value="Generate Recommendations">
        {% else %}
            <p> You need to rate at least 10 books to generate your first recommendations. You have currently rated <span class="datum rating_count">{{rating_count}}</span></p>
        {% endif %}
    </dev>
</form>

{% if error_text %}
    <br>
    <li class='error'>Couldn't update rating: {{error_text}}</li>
{% endif %}

{% for book in books %}
    {% book_row_item book %}
{% endfor %}

{% if page_obj.paginator.num_pages > 1 %}
<br>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endif %}

{% endblock %}