{% extends "recsys/base.html" %}
{% load isfdb_image_handling %}

{% block title %}BCG|My Ratings{% endblock %}

{% block content %}

<h1>My Ratings</h1>
    <p>The books you have already rated will appear here. The ratings you give will affect the recommendations created for you and other users. Books you've already rated won't appear in your recommendations, since you have probably already read them. You can remove your rating from a book by removing the number from the form and clicking "Submit". You can also save or block a book you've rated, which doesn't affect your recommendations.</p>
    <br>
    {% if error_text %}
        <li class='error'>Couldn't update rating: {{error_text}}</li>
    {% endif %}
	{% if not object_list %}
	<p>You haven't rated any books yet.</p>
	{% else %}
        {% for book in object_list %}
            {% book_row_item book %}
        {% endfor %}

    {% endif %}

{% if page_obj.paginator.num_pages > 1 %}
<br>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endif %}

{% endblock %}