{% extends "recsys/base.html" %}
{% load isfdb_image_handling %}

{% block title %}BCG|Rate More Books{% endblock %}

{% block content %}

<h1>Have you read any of these books?</h1>
    <p>A preliminary version of the model used to generate recommendations for you thinks you will like some of these books and dislike others. Please give ratings to any of these you have read in order to further tune the model. Then, click the button at the bottom of the page.</p>
    <p>As before, be sure to click the corresponding "Submit" button after each rating, or your rating may be lost. If you haven't read any of these books, it's fine to just skip to the next page.</p>
    {% if error_text %}
        <br>
        <li class='error'>Couldn't update rating: {{error_text}}</li>
    {% endif %}
    <br>
	{% if not object_list %}
	<p>There was a problem loading the list of books. Visit the <a href="{% url 'recsys:recommendations' %}">Recommendations</a> page or try again later</p>
	{% else %}
        {% for book in object_list %}
            {% book_row_item book %}
        {% endfor %}
    {% endif %}

<br>
<p>Click this button to generate your recommendations: </p>
<form action="{{ request.get_full_path }}" method="POST">
    {% csrf_token %}
    <input type="hidden" name="done" value="done"/>
    <input class="submit_button_form" type="submit" value="Generate Recommendations">
</form>

{% if page_obj.paginator.num_pages > 1 %}
<br>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endif %}
{% endblock %}