body {
  font-family: Avenir, Corbel, sans-serif;
}
body p {
  font-size: 24px;
}
body h1 {
  font-size: 40px;
}
body h2 {
  font-size: 32px;
}
body h3 {
  font-size: 26px;
}
li a {
    color: black;
}
.general_search_bar {
  width: 100%;
}
.search_bar_table {
  width: 100%;
}
.search_bar_table input {
  width: 100%;
  height: 60;
  font-size: 28px;
}
.header_row {
  background-color: #042F66;
  width: 100%;
  height: 60;
  border: 1px solid black;
  border-collapse: collapse;
}
.header_row  td {
  border: 2px solid black;
  border-collapse: collapse;
  width: 20%;
}
.header_row  a {
  color: white;
  font-weight: bold;
  font-size: 24px;
  display: block;
  text-decoration: none;
}
.header_row_highlighted {
  background-color: #b0e0e6;
}
.header_row_highlighted  a {
  color: black;

}
.center {
    margin: auto;
    width: 80%;
    padding: 10px;
}
.short_book_data {
    text-align: left;
    vertical-align: top;
    font-weight: normal;
}
.short_book_data a {
    color: black;
    font-weight: bold;
}
.cover_image {
  max-width: 200px;
  max-height: 300px;
}
.thumbnail_cover {
    max-width: 120px;
    max-height: 180px;
}
.book_list_table {
  width: 100%
}
.award_mark {
  background-color: green;
  color: white;
}
.jvnya_mark{
  background-color: purple;
  color: white;
}
.tr_table  {
  border: 1px solid black;
  border-collapse: collapse;
}
.tr_table th, 
.tr_table td {
  border: 1px solid black;
  text-align: left;
}
.tr_table * {
  color: black;
  font-size: 24px;
  font-weight: normal;
}
.change_password_table * {
  vertical-align: top;
}
.external_db_link a {
  color: black;
}
.datum  {
  font-weight: bold;
}
.rating_form_table * {
  font-size: 24px;
}
.rating_input_book {
  font-size: 32px;
  width: 200px;
  text-align: center;
}
.rating_input_row {
  font-size: 28px;
  width: 100px;
  text-align: center;
}
.error {
  font-size: 24px;
}
.book_checkbox_row {
  height: 30;
}
.book_checkbox_row td {
  display: inline-block;
}
.book_rating_row td {
  display: inline-block;
}
.check_box {
  transform : scale(2.2);
}
.check_box_label {
  font-size: 18px;
}
.submit_button_book {
  font-size: 32px;
}
.submit_button_row {
  font-size: 28px;
}
.submit_button_form {
  font-size: 32px;
}
.pagination {
  font-size: 24
}
.book_row_item {
  width: 85vw;
  max-width: 1000px;
  border: 2px solid black;
  border-radius: 10px;
}