body {
  font-family: Avenir, Corbel, sans-serif;
}
body p {
  font-size: 24px;
}
body h1 {
  font-size: 40px;
}
body h2 {
  font-size: 32px;
}
body h3 {
  font-size: 26px;
}
li a {
    color: black;
}
input {
  width: 100%;
}
.search_bar_table {
  width: 100%;
}
.search_bar_table * {
  height: 60;
  font-size: 28px;
}
.header_row {
  width: 100%;
  height: 60;
  border: 1px solid black;
  border-collapse: collapse;
}
.header_row  * {
/*  width: 100%;
  height: 60;*/
  color: white;
  background-color: #042F66;
  font-weight: bold;
  font-size: 24px;
}
.header_row  td {
  border: 2px solid black;
  border-collapse: collapse;
  width: 25%;
}
.header_row  a {
  display: block;
  text-decoration: none;
}
.center {
    margin: auto;
    width: 80%;
    padding: 10px;
}
.short_book_data {
    text-align: left;
    vertical-align: top;
    font-weight: normal;
}
.short_book_data a {
    color: black;
    font-weight: bold;
}
.cover_image {
  width: auto;
  max-height: 300px;
}
.thumbnail_cover {
    width: auto;
    max-height: 150px;
}
.book_list_table {
  width: 100%
}
.award_mark {
  background-color: green;
  color: white;
}
.jvnya_mark{
  background-color: purple;
  color: white;
}
.tr_table * {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: left;
}
.change_password_table * {
  vertical-align: top;
}
.external_db_link a {
  color: black;
}
.datum  {
  font-weight: bold;
}
.rating_form_table * {
  height: 60;
  font-size: 24px;
  font-weight: bold;
}
.rating_input {
  font-size: 32px;
  width: 200px;
  text-align: center;
}